// @import "swiper/element/css/scrollbar";
#landing {
  min-height: 100vh;
}
.services {
  background: left center / 380px url("../../../assets/main/bg-1.svg") no-repeat;
  @media (min-width: 768px) {
    background: 0px 120px / 380px url("../../../assets/main/bg-1.svg") no-repeat;
  }
  .service-box {
    width: calc(25% - 10px);
    > div {
      background: var(--color);
      border-radius: 300px 300px 100px 100px;
    }
  }
}
.about-us {
  > div {
    @media (min-width: 768px) {
      background: bottom center / contain
        url("../../../assets/main/aboutus-bg.svg") no-repeat;
    }
    background: bottom center / 320px url("../../../assets/main/bg-1-2.svg")
      no-repeat;
  }
}
.goals {
  --swiper-scrollbar-bg-color: #ff3b3b;
  --swiper-scrollbar-size: 8px;
  --swiper-scrollbar-drag-bg-color: #ff3b3b;
}
::ng-deep {
  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    > div {
      height: 200%;
      top: -4px;
      position: relative;
    }
  }
}
.faqs {
  background: right center / 380px url("../../../assets/main/bg-2.svg")
    no-repeat;
  @media (min-width: 768px) {
    background: right center / 380px url("../../../assets/main/bg-2.svg")
      no-repeat;
  }
}
.goals {
  background: right center / 380px url("../../../assets/main/bg-2.svg")
    no-repeat;
  @media (min-width: 768px) {
    background: right center / 380px url("../../../assets/main/bg-2.svg")
      no-repeat;
  }
}
.butn {
  &::after {
    content: "";
    @apply -z-10 absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 duration-300 rounded-full  w-full h-full bg-primary hover:scale-110;
  }
}
