.menu-icon {
  span {
    @apply w-full h-1 rounded-full bg-primary block duration-300;
    // &:nth-child(2) {
    //   @apply w-2/3;
    // }
    // &:nth-child(3) {
    //   @apply w-1/3;
    // }
  }
  // &:hover {
  //   span {
  //     @apply bg-white;
  //     &:nth-child(3) {
  //       @apply w-4/5;
  //     }
  //   }
  // }
  &.active {
    @apply gap-0 justify-center;
    span {
      width: 100% !important;
      @apply bg-white;
      &:nth-child(1) {
        transform: translateY(50%) rotate(135deg);
      }
      &:nth-child(2) {
        @apply hidden;
      }
      &:nth-child(3) {
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }
}
nav {
  background: center right / 300px url(../../../assets/main/nav-bg.svg)
      no-repeat,
    #1d1d1d;
  @media (min-width: 768px) {
    background: center right / cover url(../../../assets/main/nav-bg.svg)
        no-repeat,
      #1d1d1d;
  }
  &.active {
    @apply -translate-x-0;
  }
}
.vertical {
  writing-mode: vertical-lr;
}
