<footer class="md:px-20 px-5 pt-24 mt-20">

  <div class="cta-box"> <a href=" " class="big-cta">
      <div class="big-cta--mask text-3xl md:text-5xl">
        <div class="ticker-wrap one"> <span class="ticker">
            <div class="ticker__item">{{"Étude de cas gratuite"|translate}}</div>
            <div class="ticker__item">{{"Étude de cas gratuite"|translate}}</div>
            <div class="ticker__item">{{"Étude de cas gratuite"|translate}}</div>
          </span></div>
        <div class="two">{{"Cliquez sur moi"|translate}}</div>
      </div>
    </a></div>
  <h3 class="font-bold text-xl md:text-4xl text-primary py-10 max-w-3xl text-center mx-auto">
    {{"Ça commence toujours avec un BON accompagnement..." | translate}}</h3>
  <hr>
  <div
    class="flex justify-between flex-wrap flex-col md:flex-row text-center md:text-left items-center md:items-start gap-8 text-xl font-medium pt-6 pb-14 break-all">
    <div class="flex flex-col gap-4">
      <a href="">+33601887236</a>
      <a href="">Aloha@youwillseeagence.com</a>
    </div>
    <div class="flex gap-12">
      <a href="">

        <img class="w-12" src="../../../assets/links/facebook.svg" alt="facebook">
      </a>
      <a href="">
        <img class="w-12" src="assets/links/instagram.svg" alt="">

      </a>
      <a href="">

        <img class="w-12" src="assets/links/linkedin.svg" alt="">
      </a>
    </div>
    <div class="min-w-[311px] md:text-right">
      <span> &copy; {{year}} You Will See</span>
    </div>
  </div>

</footer>