<div class="">
  <div *ngFor="let service of services ; let i =index"
    style="--color:{{i==0 ? '#F7F908A6' : i == 1 ? '#00AACDA6' : '#FF3C3CA6'}}"
    class="flex gap-14 md:gap-5 justify-between pt-12 md:py-20 md:px-20 px-5 service-box  flex-col-reverse items-center  {{i % 2 !== 0 ? 'md:flex-row':'md:flex-row-reverse'}}">
    <div class="md:w-1/2">
      <img class="  h-full" src="{{service.img}}" alt="">
    </div>
    <div
      class="md:w-1/2 min-w-[300px] text-center md:text-left items-center  flex flex-col {{i % 2 !== 0 ? 'md:items-start':'md:items-end'}}">
      <h3 class="font-bold text-xl  md:text-[27px] uppercase">{{service.title}}</h3>
      <p class="pt-8 md:pt-14 text-sm font-medium md:text-xl ">{{service.des}}</p>
      <!-- <div>
    </div> -->
    </div>
  </div>
</div>